*{
    text-align: center;
}

h1{
    color: darkslateblue;
}

.nonActive{
    display: none;
}

.active{
    display: block;
}

.card-img{
    width: 400px;
    margin: auto;
    
}

img{
    width: 400px;
}

.green{
    color: green;
}

.orange{
    color: orange;
}

.red{
    color: orangered;
}